@import "tailwindcss";



body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  padding: 10px;
}

.a4-page {
  width: 20cm;
  height: 28.3cm;
  /* color: #4f73b1; */
  color: #2A2C62;
  padding: 3.3cm 1cm 1cm 2.9cm;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  line-height: 37px;
  overflow: hidden;
  position: relative;
  background-color: #c5c8cd; /* Ensure background is white */
  background-image: url("./asset/Notebook1.jpg");
  background-size: 20cm 28.3cm;
}

/* Red vertical line using ::before */


.NotebookContainer {
  width: 100%;
}

/* Print Styles */
@media print {
  body, .a4-page {
    background-color: white !important; /* Ensure background is white for print */
    color: #4f73b1 !important; /* Ensure text is black for print */
  }

  /* Ensure that background images are included when printing */
  .a4-page {
    -webkit-print-color-adjust: exact; /* Chrome/Edge */
    print-color-adjust: exact; /* Firefox */
  }

  @media print {
  .a4-page::before,
  .a4-page::after {
   
    display: block !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}


  /* Remove any unwanted margins in print */
  @page {
    size: A4; 
    margin: 0;
  }

  /* Ensure background colors and images print */
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
/* From Uiverse.io by adamgiebl */ 
.spinner {
  width: 80px;
  height: 80px;
  --clr: #2A2C62;                          /* Deep indigo */
  --clr-alpha: rgba(42, 44, 98, 0.1);      /* Transparent version for effects */
  animation: spinner 2s infinite linear;
  transform-style: preserve-3d;
}



.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-40px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(40px);
}
@keyframes fadeInOut {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}


@keyframes spinner {
  0% {
    transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: rotate(180deg) rotateX(180deg) rotateY(180deg);
  }

  100% {
    transform: rotate(360deg) rotateX(360deg) rotateY(360deg);
  }
}

@font-face {
  font-family: 'GloriaHallelujah';
  src: url('https://fonts.gstatic.com/s/gloriahallelujah/v22/LYjYdHv3kUk9BMV96EIswT9DIbW-MIS11zM.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Deepali Font';
  src: url('/fonts/handwriting-deepali.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'handwriting-2';
  src: url('/fonts/handwriting-2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'handwriting-3';
  src: url('/fonts/handwriting-3.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'handwriting-4';
  src: url('/fonts/handwriting-4.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'handwriting-5';
  src: url('/fonts/handwriting-5.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'handwriting-6';
  src: url('/fonts/handwriting-6.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'handwriting-7';
  src: url('/fonts/handwriting-7.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'handwriting-8';
  src: url('/fonts/handwriting-8.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@media (max-width: 768px) {
  .PaginatedNotebok{
   position: absolute;
    left: -9999px;
    top: 0;
  }
  .FlexingCol{
    flex-direction: column;
  }
  .FontSelector{
    display: none;
  }
  .FontSelectorContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .FontSelectorMobile{
  display: block;
}
}
@media (min-width: 768px) {
 .PaginatedNotebokMobile{
  display: none;
 }
 .AlertDesktop{
  display: none;
 }
}

.PaginatedNotebokMobile{
  height: 13.3cm;
}


.a4-pageMobile{
 width: 98%;
  height: 13.3cm;
  color: #2A2C62;
  padding: 1.3cm .2cm 1cm 1.5cm;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  line-height: 37px;
  overflow: hidden;
  position: relative;
  background-color: #c5c8cd; /* Ensure background is white */
  background-image: url("./asset/Notebook1.jpg");
  background-size:98% 13.3cm ;
}





